{% extends 'base.html' %}

{% block content %}

    

    {% if add_form %}

        <h1 class="text-center text-dark my-5">Add Product in Inventory</h1>
        <!-- <div class="container">
            <a class="btn btn-info fs-4 float-end bg-primary text-light fw-bold" href="{% url 'all_products' %}">Back</a>
        </div> -->
        <div>
        <form class="fs-4" method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            {{ add_form }}
            <input  class="btn btn-primary my-4 fs-4" type="submit" value="Add Product">

        </form>
        </div>
    
    {% elif edit_form %}

        <h1 class="text-center text-dark my-5">Edit Inventory Product</h1>
        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            {{ edit_form }}
            <input class="btn btn-primary my-4 fs-4" type="submit" value="Update Product">

        </form>
    {% endif %}

{% endblock %}